.site{
  display:flex;
  flex-direction:column;
  flex: 1 1 auto;
  border:0;
  margin:0;

}
.header{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20;
  position: relative;
  float:left;
  border-bottom: 10px solid #76323f;
  background-color:#f5f2eb;
}
.header img{
  max-width: 200px;
  position: relative;
}
.footer{
  position:relative;
  bottom:0;
}
.container {
  display: flex;
  flex-direction: row;
  height: 1000px;
  }

.container > div:nth-child(even){
  flex: 3 1 auto;
  width:1px;
  background-color: #D7CEC7;
}
.container > div:nth-child(odd){
  flex: 1 1 auto;
  width:1px;
  background-color:#C09f80;
}

.nav ul{
  position: sticky;
  top:0px;
  list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li{
  float:left;
  width: 100%;
}
.nav li:hover{
  color: #f5f2eb;
  background-color:#565656;
}
.article{
  font-family:sans-serif;
}
.article h1{
  margin:0;
}
.rest{
  border-left:solid #f1f1f1 20px;

}
.article img{
  width:250px;
  position: relative;
  float: left;
}
.profile{
  position: sticky;
  top:0px;
  border:solid black 1px;
  height: 151px;
}
.profile img{
  margin:0px;
  border:0px;
  position: relative;
  float: left;
  width: 100px;
}
.all-text{
  display: block;
}

.profile p.upper-text{
  position: relative;
  margin-top: 0px;
  border-top: 0px;
  border-bottom: 120px;
}
.profile p.lower-text{
  position: relative;
  display: inline;
  position: absolute;
  bottom: 0;
  margin: 0px;
  border: 0px;
}

.profile ul{
  position: relative;
  list-style-position: inside;
  list-style-type:none;
}
