.site{
  display:flex;
  flex-direction:column;
  flex: 1 1 auto;
  border:0;
  margin:0;

}
.header{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20;
  position:relative;
  float:left;
  border-bottom: 10px solid #76323f;
  background-color:#f5f2eb;
}
.header img{
  max-width: 200px;
  position: relative;
}
.footer{
  position:relative;
  bottom:0;
}
.container {
  display: flex;
  flex-direction: row;
  height: 1000px;
  }

.container > div:nth-child(even){
  flex: 3 1 auto;
  width:1px;
  background-color: #D7CEC7;
}
.container > div:nth-child(odd){
  flex: 1 1 auto;
  width:1px;
  background-color:#C09f80;
}
.nav ul{
  position:relative;
  list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li{

  float:left;
  width: 100%;
}
.nav li:hover{
  background-color:#565656;
}
.article{
  font-family:sans-serif;
}
.article h1{
  margin:0;
}
.article img{
  width:250px;
  position: relative;
  float: left;
}

  #pigu{
    margin:0px;
  }
  #pigu img{
    max-width: 100px;
    position: relative;
    float:left;
  }
  .pigu-text{
    position: relative;
    float:top;
  }
  #pigu ul{
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    position: relative;
    float: left;
  }
